html
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300vh;
    background-color: hsl(226, 43%, 10%);
    
}

ul
{
    
    display: inline-flex;
    gap: 3rem;
    place-items: center;
    padding: .5rem;
    list-style-type: none;
}

nav
{
    text-align: center;
}

section
{
    border-radius: 1em;
    background-color: hsl(235, 46%, 20%);
}

h1 
{
    font-size: 1.25em;
    margin: 0;
}

img
{
    float: left;
    margin-right: 1em;
    border: solid 3px #fff;
    border-radius: 50%;
}

h1, .hrs
{
    font-family: 'Rubik';
    font-weight: 300;
}

h2, span, nav, .prev
{
    font-family: 'Rubik';
    font-weight: 400;
}

span, nav, .prev
{
    color: hsl(236, 100%, 87%);
}

span, .prev
{
    font-size: .8em;
}

.profile
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 2rem;
    border-radius: 1em;
    background-color: hsl(235, 45%, 61%);
}

.name
{
    display: inline;
}

.cards
{
    width: 90%;
}

.attribution 
{ 
    /* position: absolute; */
    bottom: 0;
    left: 0;
    right: 0;
    margin: 15px;
    font-size: 11px; 
    text-align: center; 
}

.attribution a 
{ 
    color: hsl(228, 45%, 44%); 
}