html
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 190vh;
    background-color: hsl(226, 43%, 10%);
    
}

section
{
    border-radius: 1em;
    gap: 1.5em;
}

nav
{
    text-align: center;
}

ul
{
    
    display: inline-flex;
    gap: 3rem;
    place-items: center;
    padding: .5rem;
    list-style-type: none;
}

h1 
{
    font-size: 1.25em;
    margin: 0;
}

h2 
{
    font-size: 1em;
    margin-top: .5em;
    margin-bottom: .5em;
}

h1, .hrs
{
    font-family: 'Rubik';
    font-weight: 300;
}

h2, span, nav, .prev
{
    font-family: 'Rubik';
    font-weight: 400;
}

span, nav, .prev, .button
{
    color: hsl(236, 100%, 87%);
}

span, .prev
{
    font-size: .8em;
}

.main-card
{
    margin-bottom: 1.5em;
    background-color: hsl(235, 46%, 20%);
    grid-area: one;
}

.profile
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 2rem;
    border-radius: 1em;
    background-color: hsl(235, 45%, 61%);
}

.name
{
    display: inline;
}

.cards
{
    margin-bottom: 1.5em;
}

.content
{
    background-color: hsl(235, 46%, 20%);
    padding: 1em;
    border-radius: 1em;
    position: relative;
}

.button
{
    position: absolute;
    font-size: 1.75rem;
    font-weight: 600;
    top: 0;
    right: 0;
    margin-top: .6rem;
    margin-right: 1rem;   
}

.hrs 
{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 2rem;
    font-size: 1.5em;
    margin: 0;
}

.prev
{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 2rem;
    margin: 0;
}

.work
{
    grid-area: two;
    padding-top: 2.5em;
    background-image: url(images/icon-work.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: -.5em;
    background-position-x: 12.5em;
    background-color: hsl(15, 100%, 70%);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.play
{
    grid-area: three;
    padding-top: 2.5em;
    background-image: url(images/icon-play.svg);
    background-repeat: no-repeat;
    background-position-y: -.5em;
    background-position-x: 12.5em;
    background-color: hsl(195, 74%, 62%);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.study
{
    grid-area: four;
    padding-top: 2.5em;
    background-image: url(images/icon-study.svg);
    background-repeat: no-repeat;
    background-position-y: -.5em;
    background-position-x: 12.5em;
    background-color: hsl(348, 100%, 68%);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.exercise
{
    grid-area: five;
    padding-top: 2.5em;
    background-image: url(images/icon-exercise.svg);
    background-repeat: no-repeat;
    background-position-y: -.5em;
    background-position-x: 12.5em;
    background-color: hsl(145, 58%, 55%);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.social
{
    grid-area: six;
    padding-top: 2.5em;
    background-image: url(images/icon-social.svg);
    background-repeat: no-repeat;
    background-position-y: -.5em;
    background-position-x: 12.5em;
    background-color: hsl(264, 64%, 52%);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.self
{
    grid-area: seven;
    padding-top: 2.5em;
    background-image: url(images/icon-self-care.svg);
    background-repeat: no-repeat;
    background-position-y: -.5em;
    background-position-x: 12.5em;
    background-color: hsl(43, 84%, 65%);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

li:hover,
li:focus,
.button:hover,
.button:focus 
{
    cursor: pointer;
    color: #fff;
}

.content:hover,
.content:focus
{
    cursor: pointer;
    background-color: hsl(235, 45%, 61%);
}

.daily-card 
{
    columns: 2;
}

.monthly-card 
{
    display: none;
}

.weekly-card
{
    display: none;
}

#Ppic
{
    float: left;
    margin-right: 1em;
    border: solid 3px #fff;
    border-radius: 50%;
}

.attribution 
{ 
    position: absolute;
    bottom: -88vh;
    left: 0;
    right: 0;
    margin: 15px;
    font-size: 11px; 
    text-align: center; 
}

.attribution a 
{ 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 376px)
{
    html 
    {
        height: 100vh;
    }

    body 
    {
        display: grid;
        grid-template-areas: 
        'one two three four'
        'one five six seven'
        ;
        gap: 2rem;
    }

    h1 
    {
        font-size: 2.5em;
    }

    h2
    {
        font-size: 1.25em;
        margin-top: 0;
    }

    span 
    {
        font-size: .95rem;
    }

    ul 
    {
        display: grid;
        justify-items: left;
        font-size: 1.1em;
        gap: 2.1rem;
        max-width: 5rem;
        margin: 1.5rem;
        margin-top: 1.65em;
    }

    .cards
    {
        margin: 0;
    }

    .profile
    {
        display: grid;
        max-width: 10rem;
        padding-top: 2rem;
        padding-right: 4rem;
        padding-bottom: 5rem;
        border-radius: 1.5em;
    }

    .name
    {
        margin-top: 3rem;
    }

    .content
    {  
        padding: 2rem;
        padding-right: 6rem;
        min-width: 9rem;
        border-radius: 1.5em;
    }

    .button
    {
        font-size: 2rem;
        font-weight: 600;
        top: 0;
        right: 0;
        margin-top: 1rem;
        margin-right: 2rem;
    }

    .hrs
    {
        font-size: 3.5rem;
        margin-top: 2rem;
        margin-bottom: 0;
    }

    .prev
    {
        justify-content: start;
        margin-top: 1.2rem;
        margin-bottom: 0;
    }

    .main-card 
    {
        margin: 0;
        border-radius: 1.5em;
    }

    .work
    {
        padding-top: 3em;
        background-position: right;
        background-position-y: -.7em;
        background-position-x: 11em;
        border-radius: 1.5em;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }

    .play
    {
        padding-top: 3em;
        background-position: right;
        background-position-y: -.5em;
        background-position-x: 11em;
        border-radius: 1.5em;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    } 

    .study
    {
        padding-top: 3em;
        background-position: right;
        background-position-y: -.7em;
        background-position-x: 11em;
        border-radius: 1.5em;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }
        
    .exercise
    {
        padding-top: 3em;
        background-position: right;
        background-position-y: -.1em;
        background-position-x: 11em;
        border-radius: 1.5em;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }    

    .social
    {
        padding-top: 3em;
        background-position: right;
        background-position-y: .4em;
        background-position-x: 11.5em;
        border-radius: 1.5em;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }    

    .self
    {
        padding-top: 3em;
        background-position: right;
        background-position-y: -.7em;
        background-position-x: 12em;
        border-radius: 1.5em;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }

    .daily-card 
    {
        columns: 1;
    }

    .attribution
    {
        bottom: 0;
    }

    #Ppic 
    {
        height: 80px;
        width: 80px;
    }
}
